.custom-design-icon{
    background-color: var(--clr-primary-10) !important;
    color: var(--clr-primary-1) !important;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    
}
.section-custom{
    background-color: var(--clr-primary-10);
}