.footer-section{
    background-color: var(--clr-black);
    color: var(--clr-white);
}
.footer-section{
    
    div{
        height: 5rem;
    } 
    span{
        color: var(--clr-primary-5);
       
    }
}